.title {
  color: var(--text-primary);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 900;
}

.outer-container {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .outer-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
