.bigImageContainer {
  width: 100vw;
  height: 100%;
}

.imageWrapper {
  position: relative;
}

img.image {
  display: block;
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  margin-left: 0%;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  inset: 0;
  /* center overlay text */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.contentSpacing {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.headerText {
  color: var(--text-static);
}

.headerNames {
  font-size: 68px;
  font-family: Abril;
}

.headerInvite {
  font-size: 38px;
  font-weight: 300;
}

.headerDate {
  font-size: 48px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  /* .count-down-d {
    padding: 9px;
  } */
  /* .title-d {
    font-size: 20px;
  } */
  img.image {
    height: auto;
  }

  .overlay {
    left: 0%;
    right: 0%;
  }
  .headerNames {
    font-size: 28px;
  }

  .headerInvite {
    font-size: 18px;
  }

  .headerDate {
    font-size: 23px;
  }
  .contentSpacing {
    gap: 8px;
  }
}
