.radioButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radioButtonLabel:hover {
  cursor: pointer;
}

.radioButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0 16px;
}

.radioButtonLabel {
  text-align: flex-start;
  color: var(--text-primary);
  font-size: small;
  margin-left: 8px;
}

.input {
  accent-color: var(--theme-color);
}
