.additionalForm {
  margin-bottom: 48px;
}

.additionalFormHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottomButton {
  display: flex;
  justify-content: flex-end;
}

.inputControl {
  margin-bottom: 1rem;
}

.inputControl label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: start;
  color: var(--text-primary);
}

.inputControl input,
.inputControl textarea {
  display: block;
  font: inherit;
  font-size: small;
  border-radius: 4px;
  border: 1px solid var(--foreground-tertiary);
  padding: 0.25rem;
  width: 100%;
}

.inputControl textarea:focus,
.inputControl input:focus {
  outline: none;
  border: 1px solid var(--text-secondary);
}

.radioButtonControl {
  margin-bottom: 1rem;
}

.inputControl.children input {
  width: 80%;
  margin: 12px 0;
}

.question {
  margin-bottom: 0.5rem;
  text-align: flex-start;
  color: var(--text-primary);
  display: block;
}

.addNew {
  padding-bottom: 8px;
}

.butt {
  display: flex;
}

.actions.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  margin-top: 1rem;
}

.addPerson {
  border-radius: 50% !important;
  padding: 8px 13px !important;
}

.addPerson.minus {
  padding: 8px 15px !important;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: var(--theme-color);
  color: var(--text-primary-inverted);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: var(--text-secondary);
  border-color: var(--text-secondary);
}

.addAnotherButton {
  font: inherit;
  cursor: pointer;
  color: var(--theme-color);
  border: none;
  background-color: var(--foreground-primary);
  font-weight: 700;
}

.thankYou {
  padding-top: 12px;
}

.thankYouTitle {
  color: var(--text-primary);
}

.thankYouMargin {
  margin-bottom: 48px !important;
}

.attending {
  margin-top: 12px;
}
