.layout:nth-child(4n - 1) {
  grid-column: 2;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: -3.5em;
  align-items: center;
  text-align: center;
}
.layout:not(:first-of-type) {
  margin-top: 3em;
}
.layout:nth-child(even) {
  flex-direction: row-reverse;
}
.layoutItem {
  padding-top: 1em;
  padding-left: 3.5em;
}
.layoutItemBody {
  flex-grow: 9999;
  flex-basis: 15rem;
}
.layoutItemFigure {
  margin-right: auto;
  flex-grow: 1;
}
@supports (
  (max-width: -webkit-max-content) or (max-width: -moz-max-content) or
    (max-width: max-content)
) {
  .layoutItemFigure {
    min-width: 15rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    flex-basis: 15rem;
    flex-grow: 99999;
  }
}

.outer {
  max-width: 42em;
  margin-right: auto;
  margin-left: auto;
  padding: 3em 1em;
  line-height: 1.5em;
}

.storyH2 {
  font-size: 2em;
  line-height: 1.2;
}

.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.layoutItem * + * {
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .layoutItemFigure {
    display: flex;
    flex-direction: column;
    min-width: 0rem;
    margin-right: unset;
  }
  .layoutItemBody {
    margin-right: unset;
    flex-basis: 0rem;
  }

  .layout {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .layout:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .layout:not(:first-of-type) {
    margin-top: 0em;
  }
}
