.title {
  color: var(--text-primary);
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 900;
}

.color {
  color: var(--theme-color);
}

.outer-container {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headline {
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--text-primary);
}

.text {
  color: var(--text-secondary);
}

.header {
  color: var(--theme-color);
}

@media only screen and (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .outer-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
