:root {
  --theme-dark: #8f683d;
  --theme-darker: #71512f;

  --theme-color: #b97b52;
  --text-primary: var(--text-primary);
  --text-secondary: var(--text-secondary);

  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --foreground-primary: #f8f8f8;
    --foreground-tertiary: #e0e0e0;
    --background-shadow: rgba(0, 0, 0, 0.2);
    --text-primary: rgba(0, 0, 0);
    --text-secondary: rgba(0, 0, 0, 0.87);
    --text-primary-inverted: #ffffff;
    --hamburger-overlay: rgba(255, 255, 255, 0.9);
    --text-static: rgba(255, 255, 255, 0.87);

    /* --foreground-rgb: #ffffff; */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1b1b1b;
    /* --foreground-primary: #232222; */
    --foreground-primary: #313131;
    /* --foreground-primary: #424242; */
    --foreground-tertiary: #000000;
    --background-shadow: rgba(0, 0, 0, 0.2);
    --foreground-rgb: #ffffff;
    --text-primary: rgba(255, 255, 255, 0.87);
    --text-secondary: rgba(255, 255, 255, 0.6);
    --text-primary-inverted: #000000;
    --text-static: rgba(255, 255, 255, 0.87);
    --hamburger-overlay: rgba(0, 0, 0, 0.9);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
