.top {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.top .top-center {
  flex: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 64px;
}

.top .top-right {
  flex: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 44px;
}

.bottom {
  height: 30px;
  border-style: solid;
  border-color: var(--background-color) var(--background-color)
    var(--theme-color-dark);
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.link-decoration {
  text-decoration: none;
}

.desktop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
}

.bottom button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header {
  font-family: Caligraphy !important;
}

.hamburger-menu {
  display: none;
  /* margin-left: 15%; */
}

.mobile-menu {
  display: none;
}

.open.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: 15%;
  text-align: start;
}

.hamburger-react {
  margin-left: 5%;
}

.ul-list-lang {
  list-style-type: none;
  display: inline-flex;
}

.li-lang {
  display: inline;
  margin: 5px;
}

.margin {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }

  .top .top-center {
    margin-left: 5%;
  }
}
