.radio-button-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.radio-button-label:hover {
  cursor: pointer;
}

.radio-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0 16px;
}

.radio-button-label {
  text-align: start;
  color: var(--text-primary);
  font-size: small;
  margin-left: 8px;
}

input {
  accent-color: var(--text-secondary);
}
