.form-container {
  background-color: var(--foreground-primary);
  border-radius: 6px;
  box-shadow: 0 2px 8px var(--background-shadow);
  margin-bottom: 16px;
  max-width: 100%;
}

.additional-form {
  margin-bottom: 48px;
}

.additional-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-button {
  display: flex;
  justify-content: flex-end;
}

.form {
  margin: 0 12px 0 12px;
  padding: 32px;
}

.input-control {
  margin-bottom: 1rem;
}

.input-control label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: start;
  color: var(--text-primary);
}

.input-control input,
.input-control textarea {
  display: block;
  font: inherit;
  font-size: small;
  border-radius: 4px;
  border: 1px solid var(--foreground-tertiary);
  padding: 0.25rem;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--text-secondary);
}

.radio-button-control {
  margin-bottom: 1rem;
}

.input-control.children input {
  width: 80%;
  margin: 12px 0;
}

.child-input {
  display: flex;
  flex-direction: row;
}

.question {
  margin-bottom: 0.5rem;
  text-align: flex-start;
  color: var(--text-primary);
  display: block;
}

.add-new {
  padding-bottom: 8px;
}

.actionz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.butt {
  display: flex;
}

.actions.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  margin-top: 1rem;
}

.addPerson {
  border-radius: 50% !important;
  padding: 8px 13px !important;
}

.addPerson.minus {
  padding: 8px 15px !important;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: var(--theme-color);
  color: var(--text-primary-inverted);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--theme-color);
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: var(--text-secondary);
  border-color: var(--text-secondary);
}

.add-another-button {
  font: inherit;
  cursor: pointer;
  color: var(--theme-color);
  border: none;
  background-color: var(--foreground-primary);
  font-weight: 700;
}

.thank-you {
  padding-top: 12px;
}

.thank-you-title {
  color: var(--text-primary);
}
